<div class="body-wrapper">
  <mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="Overview">
      <div class="content-wrapper">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{project.description}}
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>
    <mat-tab label="Suites & TestCases">
      <div class="content-wrapper">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let suite of suites" (opened)="suite.panelOpenState = true" (closed)="suite.panelOpenState = false">
            <mat-expansion-panel-header (click)="getTestsForSuite(suite.id)">
              <mat-panel-title>
                {{suite.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{suite.description}}
              </mat-panel-description>
              <div class="button-row" *ngIf="suite.panelOpenState" matTooltip="Click to add new test.">
                  <button mat-raised-button color="primary" (click)="openAddTestDialog(suite)">
                  <mat-icon>add</mat-icon>
                  </button>
                </div>
            </mat-expansion-panel-header>
           
            <mat-accordion>
              <mat-expansion-panel *ngFor="let item of tests" (opened)="item.panelOpenState = true" (closed)="item.panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{item.id}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Summary : {{item.summary}}
                  </mat-panel-description>
                  <button mat-flat-button [class.test-progress]="item.status == 'In Progress'" [class.test-passed]="item.status == 'Passed'" [class.test-fail]="item.status == 'Failed'" [class.test-pending]="item.status == 'Not Executed'">
                      {{item.status}}  
                  </button>
                </mat-expansion-panel-header>
                <button class="test-edit-button" (click)="openUpdateTestDialog(suite, item)" matTooltip="Edit Test.">
                    <mat-icon>edit</mat-icon>
                </button>
                <ul><button class="test-edit-button" matTooltip="Add Step.">
                    <mat-icon>add</mat-icon>
                </button></ul>
                <ul>Precondition: {{item.precondition}}</ul>
                <ul [class.test-progress]="item.status == 'In Progress'" [class.test-passed]="item.status == 'Passed'" [class.test-fail]="item.status == 'Failed'">Status : {{item.status}}</ul>
                <ul>Estimate : {{item.estimate}}</ul>
              </mat-expansion-panel>

            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <p>
      <button mat-raised-button color="primary" (click)="openAddSuiteDialog()">
          <mat-icon matTooltip="Click to add new suite.">add</mat-icon>  
      </button>
    </p>
    </div>
    </mat-tab>
    <mat-tab label="Runs">
    </mat-tab>
  </mat-tab-group>
</div>