<div class="body-wrapper">
  <mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="Overview">
      <div class="content-wrapper">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{project.description}}
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-tab>
    <mat-tab label="Suites & TestCases">
      <div class="content-wrapper">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let suite of suites" (opened)="suite.panelOpenState = true" (closed)="suite.panelOpenState = false">
            <mat-expansion-panel-header (click)="getTestsForSuite(suite.id)">
              <mat-panel-title>
                {{suite.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{suite.description}}
              </mat-panel-description>
              <div class="button-row" *ngIf="suite.panelOpenState" matTooltip="Click to add new test.">
                  <button mat-raised-button color="primary" (click)="openAddTestDialog(suite)">
                  <mat-icon>add</mat-icon>
                  </button>
                </div>
            </mat-expansion-panel-header>
           
            <mat-accordion>
              <mat-expansion-panel *ngFor="let item of tests" (opened)="item.panelOpenState = true" (closed)="item.panelOpenState = false">
                <mat-expansion-panel-header (click)="getStepsForTest(item.id)">
                  <mat-panel-title>
                    {{item.id}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Summary : {{item.summary}}
                  </mat-panel-description>
                  <span class="test-status">
                  <button mat-flat-button [class.test-progress]="item.status == 'In Progress'" [class.test-passed]="item.status == 'Passed'" [class.test-fail]="item.status == 'Failed'" [class.test-pending]="item.status == 'Not Executed'">
                      {{item.status}}  
                  </button>
                  </span>
                </mat-expansion-panel-header>
                <button class="test-edit-button" (click)="openUpdateTestDialog(suite, item)" matTooltip="Edit Test.">
                    <mat-icon>edit</mat-icon>
                </button>
                
                <ul>Precondition: {{item.precondition}}</ul>
                <ul [class.test-progress]="item.status == 'In Progress'" [class.test-passed]="item.status == 'Passed'" [class.test-fail]="item.status == 'Failed'">Status : {{item.status}}</ul>
                <ul>Estimate : {{item.estimate}}</ul>
                  <table>
                    <thead>
                      <th style="width: 10%;">No.</th>
                      <th style="width: 45%;">Step</th>
                      <th style="width: 45%;">Expected</th>
                      <th hidden=true>
                        
                      </th>
                    </thead>
                    <tr *ngIf="steps == ''">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="test-edit-button" matTooltip="Add Step." (click)="openAddStepDialog(item)">
                            <mat-icon>add</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let step of steps ; let last = last">
                      <td align="center">{{step.position}}</td>
                      <td>{{step.step}}</td>
                      <td>{{step.expected_result}}</td>
                      <td *ngIf="last"><button class="test-edit-button" matTooltip="Add Step." (click)="openAddStepDialog(item)">
                          <mat-icon>add</mat-icon>
                      </button>
                    </td>
                    </tr>
                  </table>

              </mat-expansion-panel>

            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <p class="suite-add-div">
      <button matTooltip="Click to add new suite."mat-raised-button color="primary" (click)="openAddSuiteDialog()">
          <mat-icon>add</mat-icon>  
      </button>
    </p>
    </div>
    </mat-tab>
    <mat-tab label="Runs">
    </mat-tab>
  </mat-tab-group>
</div>